.controls {
    $controls-bg: #666;

    z-index: 2;
    position: absolute;
    width: $controls-width;
    height: 100%;
    padding: ($navbar-height + 30px) 30px 30px;
    background: $controls-bg;
    // text-align: center;
    transition: transform 0.3s;
    // transition: transform 0.3s 0.3s;

    .hide-controls & {
        transform: translateX(-100%);
    }

    h1 {
        margin: 0 0 2em;
        font-size: 1.3em;
        font-weight: 900;
        color: #fff;
    }

    button {
        display: block;
        width: 100%;
        margin: 5px 0 0;
        text-align: left;
        font-size: 0.8em;
        font-family: $monospace;

        &.active {
            color: #111;
        }
    }
}